{% extends 'store_base/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container main-container headerOffset globalPaddingBottom">

<div class="w100 clearfix">
    <div class="row userInfo">
        <div class="col-lg-12">
            <h1>Privacy Policy</h1>
            <h2 class="block-title-2"> Please read carefully this Privacy Policy before signing. </h2>
        </div>
        <div class="col-xs-12 col-sm-12">
            <h3>1. Introduction</h3>
            <p>Welcome to Comics Cantina!</p>
            <p>This Privacy Policy was written to help you better understand how we collect, use and store your information. Since technology and privacy laws are always changing, we may occasionally update this policy. If a significant change is made, we will be sure to post a notice on our homepage and in the merchant admin. If you continue to use Comics Cantina after these changes are posted, you agree to the revised policy.</p>
            <p>By signing up for any of the products or services offered by Comics Cantina (together, the “Services”), or dealing with a merchant using Comics Cantina Services, you are agreeing to the terms of this Privacy Policy and, as applicable, the Comics Cantina Terms of Service. This policy is a legally binding agreement between you (and your client, employer or another entity if you are acting on their behalf) as the user of the Services (referred to as “you” or “your”) and Comics Cantina Inc. (referred to as “we”, “our”, “us” or “Comics Cantina”). If we add any new features or tools to our Services, they will also be subject to this policy.</p>
            <p>We will keep your Personal Information accurate, complete and up-to-date with the information that you provide to us. If you request access to your Personal Information, we will inform you of the existence, use and disclosure of your Personal Information as allowed by law, and provide you access to that information.</p>
            <p>When we use the term “Personal Information” in this policy, it means any information related to an identifiable individual, but does not include the name, title, business address, or telephone number of an employee of an organization.</p>
            
            <h3>2. Information from merchants</h3>
            <p>Privacy matters! If you are a merchant, you agree to post a privacy policy on your storefront that complies with the laws applicable to your business. You also agree to obtain consent from your customers for the use and access of their Personal Information by Comics Cantina and other third parties.</p>
            
            
            <p>What information do we collect from merchants and why?</p>
            <p>We collect your name, company name, address, email address, phone number(s) and credit card details.
            <p>We need this information to provide you with our Services, for example, to confirm your identity, contact you, and invoice you.</p>
            <p>We collect data about the Comics Cantina-hosted webpages that you visit and how and when you access your account, including information about the device and browser you use, your network connection and your IP address.</p>
            <p>We need this information to give you access to and improve our Services.</p>
            <p>Upon completing the sign-up process for the Services and depending on your location, we may create a Comics Cantina Payments account on your behalf. If you activate a Comics Cantina Payments account (applicable only to Canada, US &amp; UK merchants), we collect your business address, business type, business ID number, date of birth (if you are an individual business owner), bank account information and government identification information, such as your Social Security Number or your Social Insurance Number.</p>
            <p>We need this information to create a Comics Cantina Payments account for you, to provide you with Comics Cantina Payments services, including fraud and risk monitoring, and to comply with applicable legal and regulatory requirements.</p>
            <p>We collect Personal Information about your customers that you share with us or that customers provide while shopping or during checkout.</p>
            <p>We use this information to provide you with our Services and so that you can process orders and better serve your customers.</p>
            <p>We will also use Personal Information in other cases where you have given us your express permission.
            <p>When do we collect this information?</p>
            <p>We collect Personal Information when you sign up for our Services, when you access our Services or otherwise provide us with the information.</p>
            
            <h3>3. Information from our merchants’ customers</h3>
            <p>What information do we collect and why?</p>
            <p>We collect our merchants’ customers’ name, email, shipping and billing address, payment details, company name, phone number, IP address and device data.</p>
            <p>We need this information to provide merchants with our Services, including supporting and processing orders, authentication, and processing payments. This information is also used to improve our Services.
            <p>When do we collect this information?</p>
            <p>Information is collected when a merchant’s customer uses or accesses our Services, such as when a customer visits a merchant’s site, places an order or signs up for an account on a merchant’s site.</p>
            
            <h3>4. Information from Partners</h3>
            <p>Partners are individuals or businesses that have agreed to the terms of the Partner Program to work with Comics Cantina to promote the Services by (a) referring clients to Comics Cantina; (b) developing Comics Cantina store themes for merchant use; or (c) developing apps using the Comics Cantina Application Interface (API) for merchant use.</p>
            <p>What information do we collect from Partners and why?</p>
            <p>We collect your name, company name, website, twitter or other social media handles, phone number(s), address, business type, email address, PayPal Account, and GST/HST number.</p>
            <p>We use this information to work with you, confirm your identity, contact you, and pay you.
            <p>We collect data about the Comics Cantina-hosted webpages that you visit and how and when you access your account, including information about the device and browser you use, your network connection and your IP address.</p>
            <p>We use this information to give you access to and improve our Services.</p>
            <p>We collect Personal Information about your customers that you share with us or that they provide to us directly.</p>
            <p>We use this information to work with you and to provide our Services to your customers.</p>
            <p>We will also use Personal Information in other cases where you have given us express permission.</p>
            <p>When do we collect this information?</p>
            <p>We collect this information when you sign up for a Partner Account, when you sign up one of your customers for our Services, or when your customers sign up themselves. We also collect any additional information that you might provide to us.</p>
            
            <h3>5. Information from Comics Cantina website visitors and support users</h3>
            <p>What information do we collect and why?</p>
            <p>From Comics Cantina website visitors, we collect information about the device and browser you use, your network connection and your IP address.</p>
            <p>From telephone support users, we collect your phone number and call audio.</p>
            <p>From chat support users, we collect your name, email address, information about the device and browser you use, your network connection and your IP address.</p>
            <p>From forum users, we collect your name, email address and website URL.</p>
            <p>We use this information to service your account, enhance our Services, and answer any questions you may have.
            <p>When do we collect this information?</p>
            <p>We collect this information when you visit Comics Cantina-hosted webpages or engage with us either by email, web form, instant message, phone, or post content on our website (including forums &amp; blogs). We also collect any additional information that you might provide to us.</p>
            
            <h3>6. Information from cookies</h3>
            <p>What is a cookie? A cookie is a small amount of data, which may include a unique identifier. Cookies are sent to your browser from a website and stored on your device. Every device that accesses our website is assigned a different cookie by us.</p>
            <p>Why does Comics Cantina use cookies?</p>
            <p>We use cookies to recognize your device and provide you with a personalized experience</p>
            <p>We also use cookies to serve customized ads from Google and other third-party vendors.</p>
            <p>Our third-party advertisers use cookies to track your prior visits to our website and elsewhere on the Internet in order to serve you customized ads.</p>
            
            <h3>7. When and why do we share Personal Information with third parties?</h3>
            <p>Comics Cantina works with third parties to help provide you with our Services and we may share Personal Information with them to support these efforts. In certain limited circumstances, we may also be required by law to share information with third parties.</p>
            <p>Personal information may be shared with third parties to prevent, investigate, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of our Terms of Service or any other agreement related to the Services, or as otherwise required by law.</p>
            <p>Personal information may also be shared with a company that acquires our business, whether through merger, acquisition, bankruptcy, dissolution, reorganization, or other similar transaction or proceeding. If this happens, we will post a notice on our home page.</p>
            <p>Except when required by law, Comics Cantina will never disclose your Personal Information without obtaining your consent.</p>
            <p>Learn more about third parties</p>
            
            <h3>8. What do we do with your Personal Information when you terminate your relationship with us?</h3>
            <p>We will continue to store archived copies of your Personal Information for legitimate business purposes and to comply with the law.</p>
            <p>We will continue to store anonymous or anonymized information, such as website visits, without identifiers, in order to improve our Services.</p>
            
            <h3>9. What we don’t do with your Personal Information</h3>
            <p>We do not and will never share, disclose, sell, rent, or otherwise provide Personal Information to other companies for the marketing of their own products or services.</p>
            <p>We do not use the Personal Information we collect from you or your customers to contact or market to your customers or directly compete with you. However, Comics Cantina may contact or market to your customers if we obtain their information from another source, such as from the customers themselves.</p>
            
            <h3>10. How do we keep your Personal Information secure?</h3>
            <p>We follow industry standards on information security management to safeguard sensitive information, such as financial information, intellectual property, employee details and any other Personal Information entrusted to us. Our information security systems apply to people, processes and information technology systems on a risk management basis.</p>
            <p>We perform annual audits to ensure our handling of your credit card information aligns with industry guidelines. We are certified as a PCI DSS Level 1 compliant service provider, which is the highest level of compliance available, and our platform is audited annually by a third-party qualified security assessor.
            <p>No method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee the absolute security of your Personal Information.</p>
            
            <h3>11. How do we protect your information across borders?</h3>
            <p>Comics Cantina remains responsible for Personal Information that is transferred to a third party abroad for processing or to support our efforts. Any Personal Information transferred to a third party for data processing is subject, by law, to a comparable level of protection as that provided by Comics Cantina. A “comparable level of protection” means a level of protection generally equivalent to that provided by Comics Cantina.</p>
            <p>In relation to European markets, we also comply with the U.S.-EU Safe Harbor Framework and the U.S.-Swiss Safe Harbor Framework as set forth by the U.S. Department of Commerce regarding the collection, use, disclosure and retention of Personal Information by Comics Cantina Data Processing (USA) Inc. from European Union member countries and Switzerland. We have certified that we adhere to the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity, access, and enforcement. For more information regarding our Safe Harbour Privacy Policy for Comics Cantina Data Processing (USA) Inc.,</p>
            <p>Learn more</p>
            
            <h3>12. Access to your personal information</h3>
            <p>You retain all rights to your Personal Information and can access it anytime. In addition, Comics Cantina takes reasonable steps to allow you to correct, amend or delete personal information that is shown to be inaccurate or incomplete.</p>
            <p>If you have any questions about your Personal Information or this policy, please contact:</p>
            <p>rodolfo@ComicsCantina.com</p>
            <p>(519)521-3135</p>
            <p>Last updated: July 17th, 2015</p>
             <p>2015 The Shooting Star Press Inc.</p>
        </div>
    </div>
    <!--/row end-->
</div>
<!-- /main container -->


{% include "store_landpage/js.html" %}
</div>
{% endblock content %}