{% include 'api/wishlist.html' %}
<!-- PAGE -->
<script>
    function ajax_favor(product_id) {
        {% if receipt != None %}
        
        var customer_id = parseInt({{ customer.customer_id }});
        customer_id = isNaN(customer_id) ? 0 : customer_id;
        if (customer_id <= 0) {
            return;
        }
        
        filter_by_product_id(
            product_id,
            function(json_success) {
                $(json_success).each(function(iter,val2){
                    var count = val2['count'];
                                                  
                    // If some results where returned so delete.
                    if (count > 0) {
                        $(val2['results']).each(function(iter2,val){
                            var wishlist_id = val['wishlist_id'];
                            delete_wishlist(wishlist_id, function(json_results) {
                                // Shotgun call the following elements and set them to be checked out.
                                $("#id_fav_featured_heart_id_"+product_id).attr('class', 'glyphicon glyphicon-heart');
                                $("#id_fav_new_heart_id_"+product_id).attr('class', 'glyphicon glyphicon-heart');
                                $("#id_fav_heart_id_"+product_id).attr('class', 'glyphicon glyphicon-heart');
                            });
                        });
                    } else { // Nothing was returned so insert.
                        set_wishlist(
                            {
                                'customer': customer_id,
                                'product': product_id,
                            },
                            function(json_success) {
                                // Shotgun call the following elements and set them to be checked out.
                                $("#id_fav_featured_heart_id_"+product_id).attr('class', 'glyphicon glyphicon-check');
                                $("#id_fav_new_heart_id_"+product_id).attr('class', 'glyphicon glyphicon-check');
                                $("#id_fav_heart_id_"+product_id).attr('class', 'glyphicon glyphicon-check');
                            },
                            function(json_error) {
                                console.log(json_error); // Do Nothing.
                            }
                        ); // End Set Wishlist
                    }
                });
            },
            function(json_error) {
                console.log(json_error);
            }
        ); // End Filter by Product ID
        
        {% else %}
        
        // If the user is not logged in then take the customer to the login page.
        window.location = "/customer/authentication";
        
        {% endif %}
    }
</script>