{% load staticfiles %}
<!-- Modal -->
<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="success-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="id_close_btn" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Account Created</h4>
            </div>
            <div class="modal-body">
                <p>Your account has been registered successfully!</p>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button id="id_close_model_btn" type="button" data-dismiss="modal" class="btn btn-default">Close</button>            </div>
        </div>
    </div>
</div><!-- /.Modal -->