{% extends 'inventory_base/base.html' %}
{% load staticfiles %}
{% block content %}
<section>
    <!-- Page content-->
    <div class="content-wrapper p0 bg-gray-lighter">
        <div class="header w100 bb m0 p-lg bg-white">
            <h3 class="m0 b0 p0"><em class="icon-like mr" style="position:relative;top:2px;"></em>Wishlist <em class="fa fa-angle-right pl pr"></em>
                View All</h3>
        </div>
        <div class="clearfix"></div>
        <!-- START row 1 -->
        <div class="row">
            <div class="col-sm-12">
                <!-- START panel-->
                <div id="users-panel" class="clearfix panel panel-default m-lg">
                    <div class="panel-tabs w100 p m0" style="background-color:#FAFAFA;border-bottom:1px solid #EEE;">
                        <ul class="tab-list clearfix">
                            
                            <li id="id_all" class="tab"><a href="/inventory/{{ org.org_id }}/{{ store.store_id }}/print_labels/comics">Print Batch</a></li>
                            <li id="id_new" class="tab selected"><a href="/inventory/{{ org.org_id }}/{{ store.store_id }}/print_history">Print History</a></li>
                            <li id="id_new" class="tab"><a href="/inventory/{{ org.org_id }}/{{ store.store_id }}/print_redo">Print Redo</a></li>
            
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-tabs w100 p m0" style="border-top: 1px solid #ddd;">
                        <div class="clearfix"></div>
                        <div class="panel-body panel-body-main">
                            <div class="col-sm-12">
                                
                                <!-- START row 1 -->
                                <div class="row clearfix" style="margin-left:-20px;margin-right:-20px;height:100% !important;">
                                    
                                    <div class="table-responsive" style="background-color:#fafafa;padding-left:20px;padding-right:20px;">
                                        <!-- Table -->
                                        <div id="id_table_placeholder">
                                            <!-- Contents of the table go here -->
                                        </div>
                                        <!-- /.Table -->
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel-->
            </div>
        </div>
    </div>
</section>

{% include "inventory_print_label/print_history/js.html" %}
{% endblock content %}