{% include 'api/product.html' %}
<input type="hidden" value="0" id="id_tab_index" />
<script>
    $(document).ready(function () {
        $('.tab').click(function(){
            $('.tab.selected').removeClass('selected');
            $(this).addClass('selected');
                        
            var tab_index = $(this).index();
            $('#id_tab_index').val(tab_index);
            location.reload(true); // Reload page with cache cleared.
        })
            
    });

    function ajax_delete_comic(product_id)
    {
        get_product(
            product_id,
            function(product) {
                product['is_qrcode_printed'] = false;
                product['qrcode'] = null;
                set_product(product, function(ok) {
                    // (1) Add notification message of success.
                    $.notify( 'The comic was deleted', "success");
                            
                    // (2) Add count-down timer to reloading page/cache.
                    setTimeout(function(){
                        location.reload(true); // Reload page with cache cleared.
                    }, 250)
                });
            },
            function(error_json) {
                $.notify(error_json, "danger");
            }
        );
    }

    function ajax_delete_all() {
        console.log("All");
    }
</script>
