{% extends 'inventory_base/base.html' %}
{% load staticfiles %}
{% block content %}
<section>
    <!-- Page content-->
    <div class="content-wrapper p0 bg-gray-lighter">
        <div class="header w100 bb m0 p-lg bg-white">
            <h3 class="m0 b0 p0"><em class="fa fa-cog mr"></em>Inventory <em class="fa fa-angle-right pl pr"></em>  Add Product <em class="fa fa-angle-right pl pr"></em>  Create</h3>
        </div>
        <div class="clearfix"></div>
        <!-- START row 1 -->
        <div class="row">
            <div class="col-sm-12">
                <!-- START panel-->
                <div id="locations-panel" class="clearfix panel panel-default m-lg">
                    <div class="panel-tabs w100 p m0" style="background-color:#FAFAFA;border-bottom:1px solid #EEE;">
                        <ul class="tab-list clearfix">
                            <li class="tab product-type dropdown" role="presentation">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                    Product
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="panel-body panel-body-main">
                        <div class="col-sm-12 mt-lg">
                            <div class="col-sm-5">
                                <div class="jumbotron bg-gray-lighter">
                                    <h3 class="p0 mt0 mb-lg">Product Image</h3>
                                    <p class="mb0 text-justify">Along with the cover image that is supplied, you can add your own images.  If there is no image supplied, and you don't upload one, there will be no image for customers to view when browsing your online store.</p>
                                </div>
                            </div>
                            
                            <!-- CATALOG -->
                            <div class="col-sm-7">
                            {% if catalog_form.instance.image == None %}
                                <!-- Upload ID -->
                                <input type="hidden" id="id_hidden_upload_id" value="0"/>
                                <input type="hidden" id="id_hidden_url" value=""/>
                                <!-- /.Upload ID -->
                                
                                <img src="{{ issue.large_image.url }}"
                                   style="height:200px;width:140px;"
                                     alt="{{ product_form.instance.name }}"
                                   class="img-thumbnail center-block mb0 add-cover-image"
                                    name="product-image"
                                      id="product-image">
                            {% else %}
                                <!-- Upload ID -->
                                <input type="hidden"
                                         id="id_hidden_upload_id"
                                      value="{{ catalog_form.instance.image_id }}"/>
                                <input type="hidden"
                                         id="id_hidden_url"
                                      value="{{ catalog_form.instance.image.image.url }}"/>
                                <!-- /.Upload ID -->
                                
                                <img src="{{ catalog_form.instance.image.image.url }}"
                                   style="height:200px;width:140px;"
                                     alt="{{ catalog_form.instance.name }}"
                                   class="img-thumbnail center-block mb0 add-cover-image"
                                    name="product-image" id="product-image">
                            {% endif %}
                                        
                                <label class="form-control btn btn-success mt10 curp" >
                                    <em class="fa fa-upload"></em>&nbsp;&nbsp; Upload Product Image...
                                    <input onchange="ajax_upload_image();"
                                               type="file"
                                              class="form-control mb10 hide"
                                               name="product-image"
                                                 id="id_image"/>
                                </label>
        
                            </div>
                            <!-- /.CATALOG -->
                            
                            <div class="clearfix"></div>
                        </div>
                        {% autoescape off %}
                        <form class="form-horizontal">
                            <div class="col-sm-12"><!-- Comic Information -->
                                <hr class="pb" />
                                <div class="col-sm-5">
                                    <div class="jumbotron bg-gray-lighter">
                                        <h3 class="p0 mt0 mb-lg">Product Information</h3>
                                        <p class="mb0 text-justify">This is the information about the product you are adding.</p>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label for="sel-age" class="col-md-4 control-label">Name</label>
                                        <div class="col-md-8">
                                            {{ catalog_form.name | escape | safe }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-genre" class="col-md-4 control-label">Description</label>
                                        <div class="col-md-8">
                                            {{ catalog_form.description | escape | safe }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-genre" class="col-md-4 control-label">Type</label>
                                        <div class="col-md-8">
                                            {{ catalog_form.type | escape | safe }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sel-location" class="col-md-4 control-label">Store / Section</label>
                                        <div class="col-md-4 mb">
                                            {{ product_form.store | escape | safe }}
                                        </div>
                                        <div class="col-md-4" id="id_section_placeholder">
                                            {{ product_form.section | escape | safe }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-price" class="col-md-4 control-label">Price / Cost</label>
                                        <div class="col-md-4 mb">
                                            {{ product_form.sub_price }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ product_form.cost }}
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.Comic Information -->
                            
                            
                            <div class="col-sm-12"><!-- Product Information -->
                                <hr class="pb" />
                                <div class="col-sm-5">
                                    <div class="jumbotron bg-gray-lighter">
                                        <h3 class="p0 mt0 mb-lg">Product Information</h3>
                                        <p class="mb0 text-justify">This is generic product information.</p>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label for="txt-series" class="col-md-4 control-label">Is Listed</label>
                                        <div class="col-md-8">
                                            {{ product_form.is_listed }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-series" class="col-md-4 control-label">Listed as New</label>
                                        <div class="col-md-8">
                                            {{ product_form.is_new }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-series" class="col-md-4 control-label">Featured</label>
                                        <div class="col-md-8">
                                            {{ product_form.is_featured}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-series" class="col-md-4 control-label">Has No Shipping</label>
                                        <div class="col-md-8">
                                            {{ product_form.has_no_shipping }}
                                        </div>
                                    </div>
                                </div> <!-- /.Product Information -->
                            
                            <div class="col-sm-12"><!-- Tags + Categories -->
                                <hr class="pb" />
                                <div class="col-sm-5">
                                    <div class="jumbotron bg-gray-lighter">
                                        <h3 class="p0 mt0 mb-lg">Category &amp; Tags</h3>
                                        <p class="mb0 text-justify">This is to help your customers find what they are looking for in the online store. Select a category that this item fits into, and add tags to set a discount for the item, or to have it be shown on the front page as a featured or new item.</p>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group mb-xl">
                                        <label for="sel-category" class="col-md-4 control-label">Category</label>
                                        <div class="col-md-8">
                                            {{ product_form.category | escape | safe }}
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="item-tag-table" class="item-tag-table table">
                                            <tr>
                                                <th>Tag</th>
                                                <th>Add/Remove</th>
                                            </tr>
                                            <!-- new section -->
                                            <tr>
                                                <td>
                                                    <select id="sel-item-tag" name="tag" class="item-tag form-control" required>
                                                    {% for tag in tags.all %}
                                                        <option value="{{ tag.tag_id }}">{{ tag.name | escape | safe }}</option>
                                                    {% endfor %}
                                                    </select>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-labeled btn-success btn-add">
                                                        <span class="btn-label"><em class="fa fa-plus"></em></span><span style="font-size:12pt;">Add</span>
                                                    </button>
                                                </td>
                                            </tr>
                                            <!-- filled out section -->
                                            <!-- <tr> -->
                                            <!--     <td> -->
                                            <!--         <input data-tagid="2" type="text" class="item-tag form-control" name="item-tag[]" value="Tag 3" readonly /> -->
                                            <!--     </td> -->
                                            <!--     <td> -->
                                            <!--         <button type="button" role="button" class="btn btn-danger"> -->
                                            <!--             <em class="section-button fa fa-remove"></em> -->
                                            <!--         </button> -->
                                            <!--     </td> -->
                                            <!-- </tr> -->
                                            <!-- /.filled out section -->
                                        </table>
                                    </div>
                                </div><!-- /.Tags + Categories -->
                                
                                <div class="clearfix"></div>
                                <hr class="pb" />
                                
                                <!-- Quantity + Submit -->
                                <div class="col-sm-12">
                                    
                                    {% if product_form.instance.product_id > 0%}
                                        <div class="col-xs-6">
                                        <button onclick="ajax_delete_me();"
                                                   type="button"
                                                  class="btn btn-labeled btn-lg btn-danger pull-left mb mr"
                                                  style="font-size:14pt;">
                                            <span class="btn-label"><i class="fa fa-trash"></i></span>Delete this Product
                                        </button>
                                        </div>
                                    {% else %}
                                        <div class="col-xs-3">
                                        <label class="control-label lbl-qty" style="position:relative;top:-2px;font-size:14pt;">Quantity</label>
                                        </div>
                                        <div class="col-xs-3">
                                        <input class="form-control input-lg" value="1" min="1" max="100" name="quantity" id="txt-quantity" type="number">
                                        </div>
                                    {% endif %}
                                    
                                    <div class="col-xs-6">
                                    {% if product_form.instance.product_id > 0 %}
                                        <button onclick="ajax_set_data();"
                                                   type="button" class="btn btn-labeled btn-lg btn-warning pull-right mb mr"
                                                  style="font-size:14pt;">
                                            <span class="btn-label"><i class="fa fa-check"></i></span>Save
                                        </button>
                                    {% else %}
                                        <button onclick="ajax_add_items();"
                                                   type="button" class="btn btn-labeled btn-lg btn-success pull-right mb mr"
                                                  style="font-size:14pt;">
                                            <span class="btn-label"><i class="fa fa-plus-square"></i></span>Add Items
                                        </button>
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div><!-- /.Quantity + Submit -->
                            
                        </form>
                        {% endautoescape %}
                    </div>
                </div>
                <!-- END panel-->
            </div>
        </div>
    </div>
</section>
{% include 'inventory_products/add_or_edit/create/js.html' %}
{% endblock content %}