{% extends 'store_base/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/products/grid?category=1">Category</a></li>
                <li><a href="/cart">Cart</a></li>
                <li class="active"> Checkout</li>
            </ul>
        </div>
    </div>
    <!--/.row-->
    
    
    <div class="row">
        <div class="col-lg-12 ">
            <div class="row userInfo">
                
                <div class="thanxContent text-center">
                    
                    <h1> We are sorry for your order cancellation of order <a href="order-status.html">#{{ receipt.receipt_id }}</a></h1>
                    <h4>we'll leave your order still open if you choose to go through with it in the future</h4>
                    
                </div>
                
                <div class="col-lg-7 col-center">
                    <h4></h4>
                    
                    <div class="cartContent table-responsive  w100">
                        <table style="width:100%" class="cartTable cartTableBorder">
                            <tbody>
                                
                                <tr class="CartProduct  cartTableHeader">
                                    <td colspan="2"> Items to be Cancelled</td>
                                    
                                    
                                    <td style="width:15%"></td>
                                </tr>
                                {% for product in receipt.products.all %}
                                <tr class="CartProduct">
                                    <td class="CartProductThumb">
                                        <div>
                                            <a onclick="window.location='/products/{{ product.product_id }}/';">
                                                {% if product.image_url == None or product.image_url == '' %}
                                                <img alt="{{ product | escape | safe }}"
                                                src="{% static "inventory/img/missing_cover.png" %}" />
                                                {% else %}
                                                <img alt="{{ product | escape | safe }}"
                                                src="{{ product.image_url }}" />
                                                {% endif %}
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="CartDescription">
                                            <h4><a href="product-details.html">{{ product }}</a></h4>
                                            <span class="size">{{ product.brand }}</span>
                                            
                                            <div class="price"><span>${{ product.sub_price }}</span></div>
                                        </div>
                                    </td>
                                    
                                    
                                    <td class="price">${{ product.price }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
            <!--/row end-->
            
        </div>
        
        <!--/rightSidebar-->
        
    </div>
    <!--/row-->
    
    <div style="clear:both"></div>
</div>
<!-- /.main-container -->

<div class="gap"></div>

{% include "store_checkout/order/js.html" %}

{% endblock content %}