{% load staticfiles %}
{% include 'api/organization.html' %}
{% include 'api/customer.html' %}
<!-- this is mainly for data that needs to be loaded when the page is loaded -->
<script>
    $(document).ready(function () {
       /**
        *  The following section makes the 'sections' automatically load
        *  when this page is refreshed or loaded.
        */
        ajax_refresh_table();
    });
    
    function ajax_refresh_table()
    {
        list_customers(function(json_result) {
            generate_table(json_result);
        });
    }

    function ajax_search()
    {
        var keyword = $('#id_search_keyword').val();
        search_customers(keyword, function(json_result) {
            generate_table(json_result);
        });
    }

    function generate_table(json_result)
    {
        // Debugging code
        //var json_text = JSON.stringify(result, null, 2);
        //var obj = JSON.parse(json_text);
    
        // Initial Code
        var html = '';
        html += '<div class="table-responsive">';
        html += '<table id="table-ext-1" class="table table-hover">';
        html += '<thead>';
        html += '<tr>';
        html += '<th style="width:20%">First Name</th>';
        html += '<th style="width:20%">Last Name</th>';
        html += '<th style="width:20%">Email</th>';
        html += '<th style="width:13%"></th>';
        html += '</tr>';
        html += '</thead>';
        html += '<tbody>';
    
        // Process the meta information.
        $(json_result).each(function(iter,meta){
                            
            // Process the results search data.
            $(meta['results']).each(function(iter,val){
                var customer_id = val['customer_id'];
                var first_name = val['first_name'];
                var last_name = val['last_name'];
                var email = val['email'];
                var phone = val['phone'];
                        
                // Table Row
                if (val['is_suspended'] == true) {
                    html += '<tr class="info">';
                } else {
                    html += '<tr>';
                }
                 
                        
                // Col 1
                var col1 = first_name;
                html += '<td>' + col1 + '</td>';
                        
                // Col 2
                var col2 = last_name;
                html += '<td>' + col2 + '</td>';
                        
                // Col 3
                var col3 = email;
                html += '<td>' + col3 + '</td>';
                        
                // Col 4
                var href_url_1 = '/inventory/{{ org.org_id }}/{{ store.store_id }}/customer/'+customer_id+'/profile';
                var col4_1 = '<a href="'+href_url_1+'" class="btn btn-success btn-sm">View Details</a>';
                                    
                html += '<td style="text-align:center;">' + col4_1 + '</td>';
                                    
                // Close Table Row
                html += '</tr>';
            });
        });
        
        html += '</tbody></table></div>';
        $('#id_table_placeholder').html(''); // Clear Table
        $(html).appendTo('#id_table_placeholder'); // Load Table.
    }

</script>