{% load staticfiles %}
{% include 'api/register.html' %}
{% include 'api/login.html' %}
{% include 'api/employee.html' %}
{% include 'api/store.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-Cantina Cart Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="{% static 'mobilepos/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'mobilepos/css/bootstrap-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'mobilepos/css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'mobilepos/css/scanner.css' %}" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>STORE DOES NOT EXIST</h1>
    </body>
</html>